<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-parent-student-heading" jhiTranslate="wildboarApp.parentStudent.home.createOrEditLabel">Create or edit a Parent Student</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!parentStudent.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="parentStudent.id" readonly />
                </div>

                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wildboarApp.parentStudent.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="parentStudent.userId"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div> -->

                <div *ngIf="isAuthenticated()">
                    <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.firstName}}  {{account.lastName}}'}"> You are logged in as user "{{account.firstName}}". </span>
                </div>

                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wildboarApp.parentStudent.student" for="field_student">Student</label>
                    <select class="form-control" id="field_student" name="student" [(ngModel)]="parentStudent.studentId"  required>
                        <option *ngIf="!editForm.value.student" [ngValue]="null" selected></option>
                        <option [ngValue]="studentOption.id" *ngFor="let studentOption of students; trackBy: trackStudentById">{{studentOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.student?.dirty && editForm.controls.student?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.student?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
        
        <div class="table-responsive" *ngIf="parentStudents">
            <table class="table table-striped">
                <thead>
               <th><span jhiTranslate="wildboarApp.parentStudent.student">Student</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let parentStudent of parentStudents ;trackBy: trackStudentById">
                    <td>
                        <div *ngIf="parentStudent.studentId">       
                            <a [routerLink]="['../student', parentStudent.studentId , 'view' ]" >{{parentStudent.studentName}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/parent-student', parentStudent.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/parent-student', parentStudent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'parent-student/'+ parentStudent.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
